#snippetsControlPanel{
    padding: 2em;
    background: lightyellow;
    width: 45em;
    height: 30em;
    background-size: cover;
    box-sizing: border-box;
    color: #e87d0d;
}

#snippetControlList > table {
    width: 100%;
}

#snippetControlList > table > tbody > tr > td {
    width: 50%;
}